html, body{
    margin: 0;
    padding: 0;
    font-size: 14px;
}

.wrapper { width: 800px; margin: 0 auto; }



/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

}

@media screen and (max-width: 700px){
    body{
        font-size: 12px;
    }
}