html, body{
    margin: 0;
    padding: 0;
    
}
img{
  width: 1000px;
  max-height: 1000px ;
}

p{
    font-size: 14px;
}


/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

}

@media screen and (max-width: 700px){
    p {
        font-size: 12px;
        max-width: 650px;
        text-align: center;
    }

    img{
     width: 650px; 
    }
}

@media screen and (min-width: 1024px){

  p{
    width: 1000px;
    text-align: center;
  }

}